.swal2-popup {
    button {
        &:focus {
            box-shadow: none;
        }
    }

    input {
        &:focus{
            box-shadow: none;
            outline: none;
            border: 1px solid #d9d9d9;
        }
    }
}
