a, button {
    cursor: default !important;
}

h1, h2, h3, h4, i, label, p, a, b, span {
    user-select: none !important;
    cursor: default !important;
}

.unselectable {
    user-select: none;
    cursor: default;
    pointer-events: none;
}
