{
  "env": {
    "mocha": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "plugins": ["vue"],
  "globals": {},
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "rules": {
    "camelcase": 2,
    "prefer-arrow-callback": 2,
    "arrow-body-style": 2,
    "eqeqeq": 2,
    "prefer-template": "error",
    "guard-for-in": 0,
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "no-empty": 2,
    "complexity": [
      2,
      6
    ],
    "max-depth": [
      2,
      6
    ],
    "no-sequences": 2,
    "no-new": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-extend-native": 2,
    "vue/jsx-uses-vars": 2,
    "vue/valid-v-if": "error"
  }
}
