<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gaucho Task Runner</title>
    <link href="./resources/material_icons/material-icons.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="./resources/styles.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
        window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');
        window.Hammer = require('./node_modules/materialize-css/js/hammer.min.js');
    </script>
    <script src="./node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
    <h3>Gaucho</h3>
    <blockquote>
        Powered by Yerbamate
    </blockquote>
    <div id="app">
        <ul class="tabs">
            <template v-for="(suite,index) in suites">
                <li class="tab"><a v-bind:href="'#tab'+index"><strong>{{suite.title}}<strong></a></li>
            </template>
            <li class="tab"><a href="newtab"><span class="material-icons">add</span></a></li>
        </ul>
        <template v-for="(suite,index) in suites">
            <task-suite v-bind:suite="suite" v-bind:id="'tab'+index"></task-suite>
        </template>

        <script type="text/javascript" src="./app/main.js"></script>

    </div>
</body>

</html>
