<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gaucho Task Launcher</title>
    <link type="text/css" rel="stylesheet" href="./node_modules/material-design-icons-iconfont/dist/material-design-icons.css" />
    <link type="text/css" rel="stylesheet" href="./node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="./node_modules/sweetalert2/dist/sweetalert2.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="./resources/styles.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <section id="app">
        <config-menu></config-menu>
        <header id="main-header" class="margin-bottom">
            <navbar v-bind:suites="suites"></navbar>
        </header>

        <main v-bind:class="{ 'full-size': !AppStatus.config.bottomBar }">
            <template v-for="(suite,index) in suites">
                    <task-suite v-bind:suite="suite" v-bind:index="index"></task-suite>
                </template>
        </main>

        <footer v-if="AppStatus.config.bottomBar">
            <bottom-bar></bottom-bar>
        </footer>
    </section>

    <script>
        window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');
        window.Hammer = require('./node_modules/materialize-css/js/hammer.min.js');
    </script>
    <script src="./node_modules/jquery-ui/build/release.js"></script>
    <script src="./node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</body>

</html>
