
.collapsible-body.task-card-body {
    padding: 0;
}

.run-card .collapsible-header {
    padding: 10px;
    margin: 0;
    border: 1;
    cursor: default;
}

/* .tab .material-icons {
    vertical-align: middle;
} */


/* .menu-title {
    color: #ee6e73;
    cursor: default;
} */

.open a.edit-button.tap-target-origin, .open a.edit-button.tap-target-origin:hover {
    background: rgba(238, 110, 115, 0.94);
    padding: 0 20px;
    border-radius: 100%;
}


@media (max-width: 280px) {
    .brand-logo.main-logo>a {
        display: none !important;
    }
}

/* common */

.unselectable-text {
    user-select: none;
    cursor: default;
}



footer {
    width: 100%;
    flex: 0 0 auto;
}

.left-content {
    float: left;
    padding-left: 20px;
}

.right-content {
    float: right;
    padding-right: 20px;
}

#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 100px;
}

main.full-size {
    bottom: 0px;
}

#main-header {
    position: absolute;
    height: 100px;
    flex: 0 0 auto;
}

html, body {
    height: 100%;
    overflow: hidden;
}
