.run-output{
    overflow-y: auto;
    height: 200px;
    background-color: #eeeeee;
}

.run-button{
    float: right;
    margin-top: 2px;
}
.run-card .collapsible-header{
    padding:10px;
    margin:0;
    border:1;
}

.tab .material-icons{
    vertical-align: middle;
}
