.run-output {
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    background-color: #eeeeee;
}

.run-output pre {
    margin: 0 0 0 10px;
    overflow: hidden;
    white-space: pre-wrap;
}

.run-button {
    float: right;
    margin-top: 2px;
    width: 90px;
    cursor: default;
}

.delete-button {
    cursor: default;
    float: right;
    margin-top: 2px;
    width: 110px;
    background-color: red;
}

.delete-button:hover {
    background-color: #af0000;
}

.collapsible-body.task-card-body {
    padding: 0;
}

.run-card .collapsible-header {
    padding: 10px;
    margin: 0;
    border: 1;
    cursor: default;
}

.tab .material-icons {
    vertical-align: middle;
}

.add-task-header {
    background-color: #efefef;
}

.add-task-header .material-icons {
    vertical-align: middle;
}

.task-input-body {
    padding-bottom: 15px;
    padding-top: 10px;
}

.task-input-body input {
    margin-bottom: 0;
}

.save-task-button {
    margin-top: 8px;
    margin-right: 15px;
    float: right;
}

.suite-tab {
    margin-top: 47px;
}

.menu-title {
    color: #ee6e73;
    cursor: default;
}

.edit-button {
    cursor: default;
}

.edit-button-active {
    transition: color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.3);
    color: #989898;
}

.edit-button-active:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.tabs-row {
    margin-bottom: 0;
}

.tab-button {
    cursor: default;
}

@media (max-width: 280px) {
    .brand-logo.main-logo>a {
        display: none !important;
    }
}

.tab-text {
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

input.tab-text {
    border-style: hidden !important;
    box-shadow: none !important;
}

.task-input-send-row {
    margin-bottom: 0;
}

.task-time {
    text-align: center;
    padding-right: 10px;
    color: #777777;
}

.brand-logo.main-logo {
    -webkit-user-select: none;
    margin-top: 5px;
    cursor: default
}

.logo-icon {
    height: 40px;
}

.brand-logo.main-logo>a {
    vertical-align: top;
}


/* common */

.unselectable-text {
    -webkit-user-select: none;
}


/* Window frame */

.window-frame-top {
    color: rgba(255, 255, 255, 0.8);
    height: 28px;
    line-height: 28px;
    background-color: rgba(51, 51, 51, 0.15);
    -webkit-app-region: drag;
}

.window-frame-top .window-frame-button {
    float: right;
    height: 28px;
    line-height: 28px;
    -webkit-app-region: no-drag;
    cursor: default;
}

.window-frame-button:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

#navbar-tabs {
    overflow: hidden;
}


/*  Navbar Menu */

#navbar-menu {
    width: 118px !important;
}

.menu-button>a {
    cursor: default;
}

.menu-button.disabled>a {
    background-color: transparent;
    color: #5f9ea0;
}

.navbar-menu-button {
    cursor: default;
}

.menu-button.disabled {
    background-color: #ababab;
}

.menu-button.disabled:hover {
    background-color: #ababab;
}

.input-field>label {
    cursor: default;
    -webkit-user-select: none;
}
