.run-output {
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    background-color: #eeeeee;
}

.run-output pre {
    margin: 0 0 0 10px;
    overflow: hidden;
    white-space: pre-wrap;
}

.run-button {
    float: right;
    margin-top: 2px;
    width: 90px;
    cursor: default;
}

.delete-button {
    cursor: default;
    float: right;
    margin-top: 2px;
    width: 110px;
    background-color: red;
}

.delete-button:hover {
    background-color: #af0000;
}

.collapsible-body.task-card-body {
    padding: 0;
}

.run-card .collapsible-header {
    padding: 10px;
    margin: 0;
    border: 1;
    cursor: default;
}

.tab .material-icons {
    vertical-align: middle;
}

.add-task-header {
    background-color: #efefef;
}

.add-task-header .material-icons {
    vertical-align: middle;
}

.tooltip {
  position: relative;
  height: 42px;
  width: 30px;
}

.tooltip .tooltip-text {
  position: absolute;
  background-color: black;
  color: white;
  text-align: center;
  z-index: 997;
  bottom: 40px;
  right: 0;
  border-radius: 3px;
  padding: 0 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
  visibility: hidden;
}

.tooltip .tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.task-input-body {
    padding-bottom: 15px;
    padding-top: 10px;
}

.task-input-body input {
    margin-bottom: 0;
}

.save-task-button {
    margin-top: 8px;
    margin-right: 15px;
    float: right;
}

.menu-title {
    color: #ee6e73;
    cursor: default;
}

.open a.edit-button.tap-target-origin, .open a.edit-button.tap-target-origin:hover {
    background: rgba(238, 110, 115, 0.94);
    padding: 0 20px;
    border-radius: 100%;
}

.edit-button {
    cursor: default;
}

.edit-button-active {
    transition: color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.3);
    color: #989898;
}

.edit-button-active:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.tabs-row {
    margin-bottom: 0;
}

.tab-button {
    cursor: default;
}

@media (max-width: 280px) {
    .brand-logo.main-logo>a {
        display: none !important;
    }
}

.tab-text {
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

input.tab-text {
    border-style: hidden !important;
    box-shadow: none !important;
}

.task-input-send-row {
    margin-bottom: 0;
}

.task-time {
    text-align: center;
    padding-right: 10px;
    color: #777777;
}

.brand-logo.main-logo {
    -webkit-user-select: none;
    margin-top: 5px;
    cursor: default
}

.logo-icon {
    height: 40px;
}

.brand-logo.main-logo>a {
    vertical-align: top;
}


/* common */

.unselectable-text {
    -webkit-user-select: none;
    cursor: default;
}


/* Window frame */

.window-frame-top {
    color: rgba(255, 255, 255, 0.8);
    height: 28px;
    line-height: 28px;
    background-color: rgba(51, 51, 51, 0.15);
    -webkit-app-region: drag;
}

.window-frame-top .window-frame-button {
    float: right;
    height: 28px;
    line-height: 28px;
    -webkit-app-region: no-drag;
    cursor: default;
}

.window-frame-button:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

#navbar-tabs {
    overflow: hidden;
}


/*  Navbar Menu */

#navbar-menu {
    width: 118px !important;
}

.menu-button>a {
    cursor: default;
}

.menu-button.disabled>a {
    background-color: transparent;
    color: #5f9ea0;
}

#navbar-menu-button {
    cursor: default;
}

.menu-button.disabled {
    background-color: #ababab;
}

.menu-button.disabled:hover {
    background-color: #ababab;
}

.input-field>label {
    cursor: default;
    -webkit-user-select: none;
}

.progress-badge {
    width: 20px;
    height: 20px;
    top: 6px;
}

.progress-spinner {
  float: left;
}

footer {
    width: 100%;
    flex: 0 0 auto;
}

.left-content {
    float: left;
    padding-left: 20px;
}

.right-content {
    float: right;
    padding-right: 20px;
}

.left-content, right {
    width: 50%;
}

#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 100px;
}

main.full-size {
    bottom: 0px;
}

#main-header {
    position: absolute;
    height: 100px;
    flex: 0 0 auto;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.bottom-bar>.navbar {
    height: 56px;
    line-height: 56px;
}

.nav-extended {
    line-height: 56px !important;
}

.navbar-buttons i {
    height: 56px !important;
    line-height: 56px !important;
}

#config-modal {
    max-height: 100%;
    height: 100%;
}

.switch-lever {
    float: right;
}

.switch>label {
    font-size: 15px;
}

.config-form {
    max-width: 300px;
}

.buttons-form {
    max-width: 230px;
    margin-top: 20px;
}

.buttons-form .btn {
    width: 100%;
    margin-top: 10px;
}

.warning-text {
    color: #26a69a;
}

.task-list {
    margin-bottom: 0;
    margin-top: 0;
}

.shortcuts-learn h4 {
    font-size: 15px;
    color: #9e9e9e;
    margin-top: 25px;
}

.shortcuts-learn .description {
    align-items: center;
    display: flex;
    margin-bottom: 5px;
}

.shortcuts-learn code {
    border: 1px solid;
    padding: 1px;
    border-radius: 4px;
    text-transform: lowercase;
    font-size: small;
    margin-right: 5px;
}
