$default-color: #4a4a4a;
$default-selected-color: #3273dc;
$dark-color: #d6d6d6;
$dark-selected-color: #252525;
$classic-color: #ffffff;
$classic-selected-color: #252525;

$classic-navbar-color: #ee6e73;
$light-navbar-color: hsl(0, 0%, 96%);
$light-form-color: #f8f8f8;
$dark-navbar-color: #696969;

$classic-button-color: #2bbbad;

$dark-background-color: #4e4e4e;
$dark-grey-background-color: #a5a5a5;


$navbar-background-color: $light-navbar-color;
$primary: $classic-button-color;
$link: $classic-button-color;

$switch-focus: none;
