.downloadMain {
  margin-top:1rem;
  margin-left:2rem;
}

.heroBanner {
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.bannerTitleContainer {
  margin: 0;
}

.heroBannerSubtitle {
  min-height: 2.3rem;
  display:block;
  font-size:1.3rem;
}

.heroBannerTitle {
  margin-bottom:0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.downloadTabs{
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  width: min-content;
}

.downloadButtonsList {
  list-style-type: none;
  width: min-content;
  margin:0 auto;
  display:block;
}

.downloadMain li {
  padding-bottom: 8px;
}

.downloadButton {
  width:100%;
}
