<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gaucho Task Launcher</title>
    <link rel="stylesheet" href="./styles/main.scss">
    <script type="text/javascript" src="./app.js" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' 'unsafe-inline'"> -->
</head>

<body>
    <div id="app">
        <main :class="[{'has-bottom-bar': showBottomBar, 'has-top-bar': showTopBar}, theme]">
            <div class="page-body">
                <div v-if="!settingsMenu">
                    <navbar></navbar>
                    <suite v-for="(suite, index) of suites" v-show="selectedSuite===index" v-if="editMode || selectedSuite===index" :key="index" :suite="index"></suite>
                    <bottom-bar v-if="showBottomBar"></bottom-bar>
                </div>
                <settings-menu v-if="settingsMenu"></settings-menu>
            </div>
        </main>
    </div>
</body>
</html>
