<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">Gaucho</h1>
            <h2 class="subtitle has-text-centered">The minimalist task launcher</h2>
            <div class="has-text-centered">
                <a class="signup-button button is-primary is-rounded" href="https://github.com/angrykoala/gaucho/releases">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>Download</span>
                </a>
            </div>
        </div>
    </div>
    <a href="https://github.com/angrykoala/gaucho"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
</section>
