<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Gaucho</strong> by <a href="https://github.com/angrykoala">@angrykoala</a>. The source code is licensed
        <a href="https://github.com/angrykoala/gaucho/blob/master/LICENSE">GPL v3</a>.
      </p>
    </div>
  </div>
</footer>
