.hipster-feature .info-container {
    margin: 20px;
}

.footer {
    background-image: linear-gradient(141deg, #1f191a 0, #363636 71%, #46403f 100%);
    color: #f5f5f5;
}

.footer strong {
    color: #f5f5f5;
}

.footer a {
    color: #2767d0;
}
